header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}


.nav {
  margin-top: 60px;
  ul {
    width: 100%;
    display:flex;
    list-style: none;
    align-items: center;
    padding: 0;
    li {
      width: 20%;
      border:1px solid black; 
    }
  }
}

.inner {
  width: 1280px;
  margin: 0 auto;
}